.mainTitle{
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 300%;
	color: #c9d1d9;
}

.name{
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: -25px 0px 0px 280px;
	color: #c9d1d9;
}

.titleHeader{
	background-color: #181818;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
	padding: 0;
	background-color: #d6d6d6;
	color: #000000;
}

.links{
	text-align: center;
	font-size: 120%;
	padding: 10px 0px 20px 0px;
	margin: 0px;
	color: #c9d1d9;
}

a:visited {
  color: lightblue;
}

a:hover{
	color: royalblue;
}

.skillsTitle{
	margin-left: 300px;
	margin-right: 300px;
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 180%;
	margin-top: 100px;
}

.skillsBody{
	margin-left: 300px;
	margin-right: 300px;
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 140%;
}

.mainMenuPart{
	margin-left: 300px;
	margin-right: 300px;
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 120%;
}

/*Mostly for the bottom part of the screen*/
.masterList {
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 150%;
}

.pointList {
  display: inline-block;
  margin-right: 100px; /* add spacing between items */
  margin-left: 70px;

}

.contactTitle{
	text-align: center;
	font-size: 180%;
}


.bottomPage{
	background-color: #181818;
	margin: 0px;
	padding: 0px;
	color: #c9d1d9;
	width: 100%;
}

.site{
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);
}