.mainTitle{
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 300%;
	color: #c9d1d9;
}

.name{
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: -25px 0px 0px 280px;
	color: #c9d1d9;
}

.titleHeader{
	background-color: #181818;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}

.links{
	text-align: center;
	font-size: 120%;
	padding: 10px 0px 20px 0px;
	margin: 0px;
	color: #c9d1d9;
}

.mainMenuPart{
	margin-left: 450px;
	margin-right: 400px;
	padding-left: 50px;
	padding-top: 20px;
	text-align: center;
	font-size: 120%;

}

.titleMainPart{
	font-size: 150%;
	margin-bottom: 15px;
	text-align: center;
}

a:visited {
  	color: rgb(106, 187, 214);
}

a:hover{
	color: royalblue;
}

body{
	margin: 0;
	padding: 0;
	background-color: #d6d6d6;
	color: #000000;
}

#updateMenu{
	border-left: 400px solid #424242;
  	position: absolute;
  	margin-left: 50px;
	margin-bottom: 0;
	height: 100%;
	z-index: 1;
}

.updateButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7e9b9e;
	color: black;
	width: 360px;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 120%;
	text-align: center;
	margin-top: 10px;
}

.updateList{
	width: 100%;
	overflow: auto;
	margin: 20px 0px 0px -380px;
	padding: 0px 500px 0px 0px;
}

.no-bullet{
	list-style-type: none;
	width: 100%;
	overflow: auto;
	height: 100%;
}

.info{
	font-size: 150%;
	float: right;
	padding-right: 20px;
	overflow: hidden;

}

.infoList{
	margin-top: 10px;
	padding-right: 50px;
	list-style-type: none;
	text-align: left;
}

#entryImageIcon{
	padding-left: 40px;
}

#descriptionText{
	padding-bottom: 50px;
}

.HighLightButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7e9b9e;
	color: black;
	cursor: pointer;
	transition: 0.3s;
	font-size: 100%;
	text-align: center;
	outline: none;
}

/*Mostly for the bottom part of the screen*/
.masterList {
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 150%;
}

.pointList {
  display: inline-block;
  margin-right: 100px; /* add spacing between items */
  margin-left: 70px;

}

.contactTitle{
	text-align: center;
	font-size: 180%;
}


.bottomPage{
	background-color: #181818;
	margin: 0px;
	padding: 0px;
	color: #c9d1d9;
	width: 100%;
	position: relative;
	z-index: 2;
}

.site{
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);
}