.mainTitle{
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 300%;
	color: #c9d1d9;
}

.name{
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: -25px 0px 0px 280px;
	color: #c9d1d9;
}

.titleHeader{
	background-color: #181818;
	margin: 0px;
	padding: 0px;
}

.links{
	text-align: center;
	font-size: 120%;
	padding: 10px 0px 20px 0px;
	margin: 0px;
	color: #c9d1d9;
}

a:visited {
  color: lightblue;
}

a:hover{
	color: royalblue;
}

.updateMenu{
	border-left: 400px solid #ffffff;
  	height: 120vh;
  	position: absolute;
  	margin-left: 50px;
}

.mainMenuPart{
	margin-left: 300px;
	margin-right: 300px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 35px;
	text-align: center;
	font-size: 150%;
}

body{
	margin: 0;
	padding: 0;
	background-color: #d6d6d6;
	color: #000000;
}

.updateButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: black;
	width: 360px;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 120%;
}

.updateList{
	width: 100%;
	overflow: auto;
	margin: 20px 0px 0px -380px;
	padding: 0px 500px 0px 0px;
}

.no-bullet{
	list-style-type: none;
	width: 100%;
	overflow: auto;
	height: 100%;
}

/*Mostly for the bottom part of the screen*/
.masterList {
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 150%;
}

.pointList {
  display: inline-block;
  margin-right: 100px; /* add spacing between items */
  margin-left: 70px;

}

.contactTitle{
	text-align: center;
	font-size: 180%;
}


.bottomPage{
	background-color: #181818;
	margin: 0px;
	padding: 0px;
	color: #c9d1d9;
	width: 100%;
}

.site{
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);
}